*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0000ff;
}
.toggle{
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 300px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.toggle::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 103px;
    width: 103px;
    border-radius: 50%;
    background-color: #0000ff;
    border: 10px solid #fff;
    transition: all 800ms;
}
.toggle.active:before{
    left: calc(100% - 70px);
    background-color: #fff;
    border: 10px solid #00ff;
}